:root {
    --mdc-outlined-text-field-focus-outline-color: var(--theme-accent-500);
    --mdc-outlined-text-field-focus-label-text-color: var(--theme-accent-500);
    --mdc-outlined-text-field-caret-color: var(--theme-accent-500);
}

.mat-mdc-input-element {
    line-height: 1.7 !important;
}

.mat-mdc-form-field-subscript-wrapper {
    margin-bottom: 1rem;

    .mat-mdc-form-field-error {
        color: var(--theme-warn-500);
    }
}
