.mat-mdc-list-item.mdc-list-item {
    --mdc-list-list-item-container-color: var(--theme-background);
    padding: 0;

    &:hover {
        --mdc-list-list-item-container-color: rgba(255, 255, 255, 0.04);
    }
}