<ion-content>
	<div class="card-container">
		<ion-card>
			<ion-card-header class="ion-text-center ion-no-padding ion-margin-bottom">
				<ion-card-title>Verify Email</ion-card-title>
			</ion-card-header>
			<ion-card-content class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-no-padding ion-padding-vertical">
						<ion-text class="ion-text-center">
							<h3>An email has been sent to {{ user?.email }}. You can now close this window</h3>
						</ion-text>
					</ion-col>
				</ion-row>
				<ion-buttons class="ion-justify-content-between ion-padding-top">
					<ion-button
						(click)="verifyEmail()"
						fill="solid"
						color="primary"
						size="small">
						Send again
					</ion-button>
					<ion-button
						(click)="logout()"
						fill="solid"
						color="primary"
						size="small"
						class="ion-text-end">
						Sign out
					</ion-button>
				</ion-buttons>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
