<ion-content>
	<app-page-header [title]="'Contacts page'"></app-page-header>
	<ion-card>
		<ion-card-content>
			<ion-row>
				<ion-col col-4>
					<ion-label>header</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>header</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>header</ion-label>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4>
					<ion-label>row</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>02/02/2018</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>row</ion-label>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4>
					<ion-label>row</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>02/02/2018</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>row</ion-label>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4>
					<ion-label>row</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>02/02/2018</ion-label>
				</ion-col>
				<ion-col col-4>
					<ion-label>row</ion-label>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<div>
		<h3>Fluid Row Heights</h3>
		<ngx-datatable
			class="dark"
			[rows]="rows"
			[loadingIndicator]="loadingIndicator"
			[columns]="columns"
			[columnMode]="ColumnMode.force"
			[headerHeight]="50"
			[footerHeight]="50"
			rowHeight="auto"
			[reorderable]="reorderable"></ngx-datatable>
	</div>
</ion-content>
