<ng-container *ngLet="user$ | async as user">
    <div class="container-fluid">
        <app-page-header
            [title]="'Home'"
            [actionButtons]="[
      {
        visible: true,
        disabled: false,
        class: 'w-100',
        color: 'primary',
        text: 'Header Button',
      }
    ]"
        ></app-page-header>
        <div class="row">
            <div class="col-sm-8">
                <mat-card>
                    <mat-card-content>
                        <h1>Header 1</h1>
                        <h2>Header 2</h2>
                        <h3>Header 3</h3>
                        <h4>Header 4</h4>
                        <h5>Header 5</h5>
                        <h6>Header 6</h6>
                        <hr />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </mat-card-content>
                </mat-card>
                <mat-card> </mat-card>
                <mat-card> </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card>
                    <mat-card-content>
                        <h5>Header 5</h5>
                        <p>paragraph</p>
                        <p class="mat-caption">caption</p>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-content>
                        <h5>Header 5</h5>
                        <p>paragraph</p>
                        <p class="mat-caption">caption</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>
