:host {
	display: flex;
	width: 100%;
	align-items: center;
	color: var(--ion-color-step-600, #666);

	.type-toggle {
		padding-inline-start: 0.5rem;
		position: absolute;
		right: 0;

		.show-option,
		.hide-option {
			font-size: 1.2rem;
			display: block;
		}
	}
}
