ion-content {
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0.313rem;
		height: 0.313rem;
	}

	&::-webkit-scrollbar-track {
		background: var(--ion-background-color);
	}

	&::-webkit-scrollbar-track:hover {
		background: var(--ion-background-color);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--ion-color-step-300);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--ion-color-step-500);
	}

	.inner-scroll {
		scrollbar-width: thin;
	}
}

ion-router-outlet#shell > .ion-page > ion-content {
	--offset-bottom: auto !important;
	--padding-start: 0.75rem;
	--padding-end: 0.75rem;
}
