rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to create their own user document
    match /users/{userId} {
      allow create: if request.auth.uid != null
                    && request.resource.data.keys().hasAll(['uid', 'email']); 
      allow read, update, delete: if request.auth.uid == userId;
    }
  }
}