<ion-content>
	<div class="flex items-center justify-center h-full">
		<ion-card class="w-full max-w-lg">
			<ion-card-header class="ion-text-center ion-padding ion-margin-bottom">
				<ion-card-title>Forget password</ion-card-title>
			</ion-card-header>
			<ion-card-content class="ion-padding">
				<ion-row>
					<ion-col class="ion-no-padding">
						<form
							[formGroup]="form"
							(ngSubmit)="submitRecord()">
							<ss-email
								controlKey="email"
								label="Enter"></ss-email>
							<div class="ion-margin-vertical">
								<ion-button
									class="ion-margin-vertical"
									[appAsyncRef]="forget$"
									[disabled]="!form.touched || (form.touched && form.invalid)"
									expand="fill"
									size="full"
									color="primary"
									type="submit">
									Submit
								</ion-button>
							</div>
						</form>
					</ion-col>
				</ion-row>
				<ion-buttons class="ion-justify-content-center">
					<ion-text>Back to</ion-text>
					<ion-button
						replaceUrl="true"
						routerLink="/auth/login"
						color="primary"
						size="small"
						fill="clear">
						Login
					</ion-button>
				</ion-buttons>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
