input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	background-clip: text;
	-webkit-text-fill-color: #fff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #23232329;
} /* Contains things like Normalize.css, global box size rules, CSS resets */

mat-card.mat-mdc-card.auth-wrapper {
	background-color: color-mix(
		in srgb,
		var(--theme-primary-700),
		rgb(0 0 0 / 100%) 50%
	);
	border-radius: 8px;
	box-shadow: 0 0 13px 10px rgb(0 0 0 / 40%);
}
