.active,
.active-parent {
	--ion-text-color: var(--ion-color-primary);

	ion-icon {
		--ion-text-color-rgb: var(--ion-color-primary);
	}
}

ion-item {
	--inner-padding-end: 0;

	ion-label {
		margin: 0;
		margin-top: 3px;
	}

	ion-icon {
		margin: 0;
		margin-right: 0.75rem;
	}
}

.sub-item {
	padding-left: 1.3rem;
}

ion-list {
	transition: all 200ms;
	padding-top: 0;
}
