.bg-primary-300 {
    background-color: var(--theme-primary-300);
}
.bg-primary-500 {
    background-color: var(--theme-primary-500);
}
.bg-primary-700 {
    background-color: var(--theme-primary-700);
}
//

.bg-accent-300 {
    background-color: var(--theme-accent-300);
}
.bg-accent-500 {
    background-color: var(--theme-accent-500);
}
.bg-accent-700 {
    background-color: var(--theme-accent-700);
}

//
.bg-warn-300 {
    background-color: var(--theme-warn-300);
}
.bg-warn-500 {
    background-color: var(--theme-warn-500);
}

.bg-warn-700 {
    background-color: var(--theme-warn-700);
}

.color-primary-50 {
    color: var(--theme-primary-50);
}

.color-primary-100 {
    color: var(--theme-primary-100);
}
.color-primary-200 {
    color: var(--theme-primary-200);
}
.color-primary-300 {
    color: var(--theme-primary-300);
}
.color-primary-500 {
    color: var(--theme-primary-500);
}
.color-primary-700 {
    color: var(--theme-primary-700);
}
//

.color-accent-300 {
    color: var(--theme-accent-300);
}
.color-accent-500 {
    color: var(--theme-accent-500);
}
.color-accent-700 {
    color: var(--theme-accent-700);
}

//
.color-warn-300 {
    color: var(--theme-warn-300);
}
.color-warn-500 {
    color: var(--theme-warn-500);
}

.color-warn-700 {
    color: var(--theme-warn-700);
}
