<div class="main-bg container-fluid w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 d-flex">
        <div class="col-sm-12">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xxl-4 mt-4 mt-sm-0 px-4">
                    <mat-card class="p-5 auth-wrapper">
                        <h1 class="text-center mb-3">Verify Email</h1>

                        <div class="form-group">
                            <h3 *ngIf="showFinalMessage" class="text-center">An email has been sent to {{ email }}. You can now close this window</h3>
                            <ng-container *ngIf="!showFinalMessage">
                                <h3 class="text-center mb-5">Click to verify your email</h3>
                                <app-form-action-bar
                                    [startButtons]="[
                                        {
                                            visible: true,
                                            disabled: false,
                                            class: 'mat-raised-button w-100',
                                            color: 'primary',
                                            text: 'Send Verification email',
																						action: actions.verify,
                                            isWaiting: sendingEmailVerification
                                        },
																				{
																					visible: true,
																					disabled: false,
																					class: 'mat-raised-button w-100 mt-2',
																					color: 'warn',
																					text: 'Sign out',
																					action: actions.logout,
																					isWaiting: loggingOut
																			}
                                    ]"
                                    (buttonClick)="submitRecord($event)"
                                ></app-form-action-bar>
                            </ng-container>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #exitApp>
    <div class="form-group"></div>
</ng-template>
