ion-split-pane {
	--side-max-width: 230px;
	--side-min-width: 230px;
}

ion-content {
	--padding-top: 56px;
	--padding-bottom: 20px;
}

ion-content#menu {
	--background: var(--ion-item-background, var(--ion-background-color, #fff));
}
