<div class="container-fluid">
    <app-page-header
        title="My profile"
        [actionButtons]="[
          {
            visible: true,
            disabled: false,
            class: 'w-100',
            color: 'primary',
            text: 'Save',
            action: actions.save
          },
          {
            visible: true,
            disabled: false,
            class: 'w-100',
            color: 'warn',
            text: 'Delete Account',
            action: actions.delete
          },
          ]"
        (buttonClick)="deleteUser($event)"
        [breadcrumbItems]="[
            {
                text: 'Dashboard',
                link: '/home'
            },
            {
                text: 'Profile',
                link: '/profile'
            }
        ]"
    ></app-page-header>
</div>
