<ion-list id="inbox-list">
	<ion-list-header>Welcome</ion-list-header>
	<ion-note *ngIf="user$ | async as user">{{getUserDisplay(user)}}</ion-note>

	<ion-menu-toggle
		auto-hide="false"
		*ngFor="let p of appPages; let i = index">
		<ion-item
			routerDirection="root"
			[routerLink]="[p.url]"
			lines="none"
			detail="false"
			routerLinkActive="selected">
			<ion-icon
				aria-hidden="true"
				slot="start"
				[ios]="p.icon + '-outline'"
				[md]="p.icon + '-sharp'"></ion-icon>
			<ion-label>{{ p.title }}</ion-label>
		</ion-item>
	</ion-menu-toggle>
</ion-list>
