@use "@angular/material" as mat;

@include mat.core();

$primary-color: #0a94d4;
$accent-color: #547cc7;
$warn-color: #d82424;
$background-color: var(--theme-background);
$foreground-color: var(--theme-foreground);

/* stylelint-disable function-no-unknown */
$primary-palette: createpalette($primary-color);
$accent-palette: createpalette($accent-color);
$warn-palette: createpalette($warn-color);
/* stylelint-enable function-no-unknown */

$warn: mat.define-palette($warn-palette);
$primary: mat.define-palette($primary-palette);
$accent: mat.define-palette($accent-palette);

$app-typography: mat.define-typography-config(
	$font-family: 'Roboto, "Helvetica Neue", sans-serif',
	$headline-1:
		mat.define-typography-level(8rem, 8rem, 300, $letter-spacing: -0.05em),
	$headline-2:
		mat.define-typography-level(4rem, 4rem, 400, $letter-spacing: -0.02em),
	$headline-3:
		mat.define-typography-level(
			3.214rem,
			3.428rem,
			400,
			$letter-spacing: -0.005em
		),
	$headline-4: mat.define-typography-level(2.428rem, 2.857rem, 400),
	$headline-5: mat.define-typography-level(1.714rem, 2.285rem, 400),
	$headline-6: mat.define-typography-level(1.428rem, 2.285rem, 500),
	$subtitle-1: mat.define-typography-level(1.142rem, 2rem, 400),
	$subtitle-2: mat.define-typography-level(1.071rem, 1.714rem, 400),
	$body-1: mat.define-typography-level(1rem, 1.428rem, 400),
	$body-2: mat.define-typography-level(1rem, 1.714rem, 500),
	$caption: mat.define-typography-level(0.857rem, 1.428rem, 400),
	$button: mat.define-typography-level(1rem, 1rem, 500),
);

$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
			warn: $warn,
		),
		typography: $app-typography,
		density: 0,
	)
);

@include mat.typography-hierarchy($dark-theme);
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

:root {
	--theme-background: #222;
	--theme-foreground: #2e2e2e;
	--theme-primary-50: #{mat.get-color-from-palette($primary, 50)};
	--theme-primary-200: #{mat.get-color-from-palette($primary, 200)};
	--theme-primary-500: #{mat.get-color-from-palette($primary, 500)};
	--theme-primary-700: #{mat.get-color-from-palette($primary, 700)};
	--theme-primary-900: #{mat.get-color-from-palette($primary, 900)};
	--theme-accent-50: #{mat.get-color-from-palette($accent, 50)};
	--theme-accent-200: #{mat.get-color-from-palette($accent, 200)};
	--theme-accent-500: #{mat.get-color-from-palette($accent, 500)};
	--theme-accent-700: #{mat.get-color-from-palette($accent, 700)};
	--theme-accent-900: #{mat.get-color-from-palette($accent, 900)};
	--theme-warn-50: #{mat.get-color-from-palette($warn, 50)};
	--theme-warn-200: #{mat.get-color-from-palette($warn, 200)};
	--theme-warn-500: #{mat.get-color-from-palette($warn, 500)};
	--theme-warn-700: #{mat.get-color-from-palette($warn, 700)};
}

.mat-drawer {
	--mat-sidenav-container-background-color: var(--theme-foreground);
}

.mat-drawer-container {
	/* --mat-sidenav-content-background-color: red; */
	--mat-sidenav-scrim-color: rgb(0 0 0 / 60%);
}
