<ion-content>
	<div class="flex items-center justify-center h-full">
		<ion-card class="w-full max-w-lg">
			<ion-card-header class="ion-text-center ion-no-padding ion-margin-bottom">
				<ion-card-title>Forget password</ion-card-title>
			</ion-card-header>
			<ion-card-content class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-no-padding">
						<form
							[formGroup]="form"
							(ngSubmit)="submitRecord()">
							<ion-list lines="auto">
								<ion-item [counter]="true">
									<ion-label position="floating">Email</ion-label>
									<ion-input
										fill="solid"
										placeholder="Enter your email address"
										type="email"
										name="email"
										maxlength="50"
										formControlName="email"></ion-input>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
										Email required
									</ion-note>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['email'].touched && form.controls['email'].hasError('email')">
										Invalid email format
									</ion-note>
								</ion-item>
							</ion-list>
							<div class="ion-margin-vertical">
								<ion-button
									class="ion-margin-vertical"
									expand="fill"
									size="full"
									color="primary"
									type="submit">
									Submit
								</ion-button>
							</div>
						</form>
					</ion-col>
				</ion-row>
				<ion-buttons class="ion-justify-content-center">
					<ion-text>Back to</ion-text>
					<ion-button
						replaceUrl="true"
						routerLink="/auth/login"
						color="primary"
						size="small"
						fill="clear">
						Login
					</ion-button>
				</ion-buttons>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
