.ion-page {
	background: var(--ion-background-color);
}

.split-pane-main {
	padding: 80px 30px 30px 30px;
}

ion-item {
	--ripple-color: var(--ion-color-primary);
}

ion-button {
	--ripple-color: var(--ion-color-primary);
	--padding-top: 10px;
	--padding-bottom: 10px;
	text-transform: none;
	height: 40px;
}

ion-toast {
	&.secondary {
		--background: var(--ion-color-secondary);
		--color: var(--ion-color-secondary-contrast);
	}

	&.small {
		--max-width: 400px;
	}
}

ion-grid {
	--ion-grid-width: 50%;
	--ion-grid-width-xs: 50%;
	--ion-grid-width-sm: 288px;
	--ion-grid-width-md: 384px;
	--ion-grid-width-lg: 480px;
	--ion-grid-width-xl: 570px;
}

.invisible {
	visibility: hidden;
	opacity: 0;
}

ion-spinner {
	position: absolute;
}

.form-group {
	margin-bottom: 1rem;
}
