<div class="page-header">
	<div class="row align-items-start">
		<div class="col">
			<h1 class="page-header-title">{{ title }}</h1>
		</div>
		<!-- End Col -->

		<div class="col-auto mt-1">
			<ng-container *ngFor="let action of actionButtons!; let isLast = last">
				<button
					*ngIf="action?.visible"
					mat-button
					[color]="action?.color"
					class="mb-2 {{ action?.class }}"
					[ngClass]="{ 'split-button-left': action?.options && !isDrawerMode, 'me-3': !action?.options && !isLast }"
					[disabled]="action?.disabled || action?.isWaiting"
					(click)="onActionSubmit(action?.text)"
				>
					{{ action?.text }}
					<mat-icon
						*ngIf="action?.isWaiting"
						class="position-absolute d-inline-block top-0 bottom-0 end-1 m-auto"
						style="width: 14px; height: 14px"
					>
						<mat-spinner diameter="14"> </mat-spinner>
					</mat-icon>
				</button>
				<button
					*ngIf="action.options && !isDrawerMode && action?.visible"
					mat-button
					[color]="action?.color"
					class="split-button-right mb-2 {{ action?.class }}"
					[ngClass]="{ 'me-3': !isLast }"
					[disabled]="action?.disabled"
					[matMenuTriggerFor]="menu"
				>
					<mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
				</button>

				<mat-menu #menu="matMenu" xPosition="before">
					<button *ngFor="let option of action?.options" mat-menu-item (click)="onActionSubmit(option?.text)">{{ option?.text }}</button>
				</mat-menu>
			</ng-container>
		</div>
		<!-- End Col -->
	</div>
	<div class="row">
		<div class="col">
			<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
		</div>
		<!-- End Col -->
	</div>
	<!-- End Row -->
</div>
