.login-wrapper {
    background-color: color-mix(in srgb,var(--theme-primary-500),#0000 85%);
    border-radius: 8px;
    box-shadow: 1px 1px 2px 0px color-mix(in srgb, var(--theme-primary-500), rgba(0, 0, 0, 0) 25%)
}