<ion-content>
	<ion-card color="primary">
		<ion-card-header>
			<ion-card-title>Card Title</ion-card-title>
			<ion-card-subtitle>Card Subtitle</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<form [formGroup]="form">
				<div class="form-group mb-2">
					<ion-input
						labelPlacement="stacked"
						placeholder="Enter your email address"
						type="email"
						name="email"
						label="Email"
						formControlName="email"></ion-input>
				</div>
				<div class="form-group mb-2">
					<ion-input
						labelPlacement="stacked"
						placeholder="Enter your password"
						type="password"
						name="password"
						label="Password"
						formControlName="password"></ion-input>
				</div>
				<div class="form-group mt-5">
					<app-form-action-bar
						[startButtons]="[
								{
									visible: true,
									disabled: false,
									class: 'mat-raised-button w-100',
									color: 'primary',
									text: 'Login',
									submit: true,
									isWaiting: emailPasswordLoading
								}
							]"
						(buttonClick)="submitRecord()"></app-form-action-bar>

					<app-google-btn
						(buttonClick)="loginWithGoogle()"
						[isWaiting]="googleLoading"></app-google-btn>
				</div>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
