<div class="main-bg container-fluid w-100 h-100 d-flex align-items-center justify-content-center">
	<div class="row w-100 d-flex">
		<div class="col-sm-12">
				<div class="row align-items-center justify-content-center">
					<div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xxl-4 mt-4 mt-sm-0 px-4">
						<mat-card class="p-5 auth-wrapper">
							<h1 class="text-center mb-5">Login</h1>
	
							<!-- form -->
							<form [formGroup]="form">
								<div class="form-group mb-2">
									<mat-form-field floatLabel="always" class="d-block">
										<mat-label>Email</mat-label>
										<input type="email" matInput formControlName="email" name="email" placeholder="Enter your email address" />
										<mat-error *ngIf="form.controls['email'].hasError('required')"> Email required</mat-error>
										<mat-error *ngIf="form.controls['email'].hasError('email')">Invalid email format</mat-error>
									</mat-form-field>
								</div>
								<div class="form-group mb-2">
									<mat-form-field floatLabel="always" class="d-block">
										<mat-label>Password</mat-label>
										<input
											type="password"
											matInput
											formControlName="password"
											name="password"
											placeholder="Enter your password"
											autocomplete="disabled"
										/>
										<mat-error *ngIf="form.controls['password'].hasError('required')"> Password required </mat-error>
									</mat-form-field>
								</div>
								<div class="form-group mt-5">
									<app-form-action-bar
										[startButtons]="[
											{
												visible: true,
												disabled: false,
												class: 'mat-raised-button w-100',
												color: 'primary',
												text: 'Login',
												submit: true,
												isWaiting: emailPasswordLoading
											}
										]"
										(buttonClick)="submitRecord()"
									></app-form-action-bar>
	
									<app-google-btn (buttonClick)="loginWithGoogle()" [isWaiting]="googleLoading"></app-google-btn>
	
								</div>
							</form>
							<!-- End Form -->
	
							<div class="form-group">
								<div class="d-md-flex justify-content-between text-center mt-5">
									<a class="link" routerLink="/auth/register">Create account</a>
										<a class="link" routerLink="/auth/forget-password">Forgot Password</a>
								</div>
							</div>
						</mat-card>
					</div>
				</div>
		</div>
	</div>
</div>
