<ion-content>
	<div class="flex items-center justify-center h-full">
		<ion-card class="w-full max-w-lg">
			<ion-card-header class="ion-text-center ion-padding ion-margin-bottom">
				<ion-card-title>Login</ion-card-title>
			</ion-card-header>
			<ion-card-content class="ion-padding">
				<ion-row>
					<ion-col class="ion-no-padding">
						<form
							[formGroup]="form"
							(ngSubmit)="submitRecord()">
							<ion-list lines="auto">
								<ion-item [counter]="true">
									<ion-label position="floating">Email</ion-label>
									<ion-input
										fill="solid"
										placeholder="Enter your email address"
										type="email"
										name="email"
										maxlength="50"
										formControlName="email"></ion-input>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
										Email required
									</ion-note>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['email'].touched && form.controls['email'].hasError('email')">
										Invalid email format
									</ion-note>
								</ion-item>

								<ion-item [counter]="true">
									<ion-label position="floating">Password</ion-label>
									<app-show-hide-password class="flex w-full items-center">
										<ion-input
											maxlength="50"
											fill="solid"
											placeholder="Enter your password"
											type="password"
											name="password"
											[clearInput]="true"
											[clearOnEdit]="false"
											formControlName="password"></ion-input>
									</app-show-hide-password>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['password'].touched && form.controls['password'].hasError('required')">
										Password required
									</ion-note>
								</ion-item>
							</ion-list>
							<div class="ion-margin-vertical">
								<ion-button
									class="ion-margin-vertical"
									expand="fill"
									[appAsyncRef]="login$"
									size="full"
									color="primary"
									type="submit">
									Login
								</ion-button>
								<ion-button
									class="ion-margin-vertical"
									expand="fill"
									size="full"
									[appAsyncRef]="loginWithGoogle$"
									(click)="loginWithGoogle()"
									type="button">
									<ion-icon
										size="small"
										slot="start"
										name="logo-google"></ion-icon>
									<ion-label>Sign in With Google</ion-label>
								</ion-button>
							</div>
						</form>
					</ion-col>
				</ion-row>
				<ion-buttons class="ion-justify-content-between">
					<ion-button
						replaceUrl="true"
						routerLink="/auth/register"
						color="primary"
						size="small"
						fill="clear">
						Create account
					</ion-button>
					<ion-button
						replaceUrl="true"
						routerLink="/auth/forget-password"
						color="primary"
						size="small"
						class="ion-text-end"
						fill="clear">
						Forgot Password
					</ion-button>
				</ion-buttons>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
