<ion-content>
	<div class="flex items-center justify-center h-full">
		<ion-card class="w-full max-w-lg">
			<ion-card-header class="ion-text-center ion-no-padding ion-margin-bottom">
				<ion-card-title>Register</ion-card-title>
			</ion-card-header>
			<ion-card-content class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-no-padding">
						<form
							[formGroup]="form"
							(ngSubmit)="submitRecord()">
							<ion-list lines="auto">
								<ion-item [counter]="true">
									<ion-label position="floating">Email</ion-label>
									<ion-input
										fill="solid"
										placeholder="Enter your email address"
										type="email"
										name="email"
										maxlength="50"
										formControlName="email"></ion-input>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['email'].dirty && 
										form.controls['email'].touched && form.controls['email'].hasError('required')">
										Email required
									</ion-note>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['email'].touched && form.controls['email'].hasError('email')">
										Invalid email format
									</ion-note>
								</ion-item>

								<ion-item [counter]="true">
									<ion-label position="floating">Password</ion-label>
									<app-show-hide-password class="flex w-full items-center">
										<ion-input
											maxlength="50"
											minlength="6"
											fill="solid"
											autocomplete="disabled"
											placeholder="Enter your password"
											type="password"
											name="password"
											[clearInput]="true"
											[clearOnEdit]="false"
											formControlName="password"></ion-input>
									</app-show-hide-password>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['password'].touched && form.controls['password'].hasError('required')">
										Password required
									</ion-note>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['password'].hasError('minlength')">
										Password should be at least {{form.controls['password'].errors?.['minlength'].requiredLength}} characters long
									</ion-note>
								</ion-item>

								<ion-item [counter]="true">
									<ion-label position="floating">Confirm password</ion-label>
									<app-show-hide-password class="flex w-full items-center">
										<ion-input
											maxlength="50"
											fill="solid"
											autocomplete="disabled"
											placeholder="Enter your password"
											type="password"
											[clearInput]="true"
											[clearOnEdit]="false"
											name="confirmPassword"
											formControlName="confirmPassword"></ion-input>
									</app-show-hide-password>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].hasError('required')">
										Password required
									</ion-note>
									<ion-note
										slot="error"
										color="danger"
										*ngIf="form.hasError('passwordMismatch') && !form.controls['confirmPassword'].hasError('required')">
										Passwords should match
									</ion-note>
								</ion-item>
							</ion-list>
							<div class="ion-margin-vertical">
								<ion-button
									class="ion-margin-vertical"
									expand="fill"
									size="full"
									color="primary"
									[appAsyncRef]="register$"
									type="submit">
									Register
								</ion-button>
							</div>
						</form>
					</ion-col>
				</ion-row>
				<ion-buttons class="ion-justify-content-center">
					<ion-text>Have an account?</ion-text>
					<ion-button
						replaceUrl="true"
						routerLink="/auth/login"
						color="primary"
						size="small"
						fill="clear">
						Login
					</ion-button>
				</ion-buttons>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
