<!-- <app-shell-loading-bar class="position-absolute top-0 start-0 end-0"></app-shell-loading-bar> -->

<!-- mat-toolbar -->
<!-- <app-header (toggleDrawer)="sideNav.toggle()"></app-header> -->
<!-- mat-sidenav-container -->
<!-- <mat-sidenav-container
	class="example-sidenav-container"
	[style.marginTop.px]="60">
	<mat-sidenav
		#sideNav
		position="start"
		[mode]="mobileQuery.matches ? 'over' : 'side'"
		[opened]="mobileQuery.matches ? false : true"
		[fixedInViewport]="mobileQuery.matches"
		fixedTopGap="56"
		style="width: 230px">
		<app-side-navbar></app-side-navbar>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="main-content main-bg">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container> -->
