<ion-content>
	<app-page-header [title]="'Home'"></app-page-header>
	<ion-card>
		<ion-card-header>
			<ion-text color="primary">
				<h1>Header 1</h1>
			</ion-text>
			<ion-text color="primary">
				<h2>Header 2</h2>
			</ion-text>
			<ion-text color="primary"><h3>Header 3</h3></ion-text>
			<ion-text color="primary"><h4>Header 4</h4></ion-text>
			<ion-text color="primary"><h5>Header 5</h5></ion-text>
			<ion-text color="primary"><h6>Header 6</h6></ion-text>
			<hr />
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</ion-card-header>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<h5>Header 5</h5>
			<p>paragraph</p>
			<p class="ion-caption">caption</p>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<h5>Header 5</h5>
			<p>paragraph</p>
			<p class="ion-caption">caption</p>
		</ion-card-content>
	</ion-card>
</ion-content>
