.card-container {
	ion-item {
		--ripple-color: var(--ion-color-primary);
		--padding-start: 0;
		--padding-end: 0;
		--inner-padding-start: 0;
		--inner-padding-end: 0;
		--border-color: var(--ion-color-primary);
	}
}
