ion-input {
	--ion-color-step-750: var(--ion-color-primary);

	&.input-fill-solid {
		--background: transparent !important;
		--padding-start: 0 !important;
		--padding-end: 0 !important;
	}
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px var(--ion-item-background) inset;
}
