.card-container {
	ion-input {
		&.input-fill-solid {
			--background: transparent !important;
			--padding-start: 0 !important;
			--padding-end: 0 !important;
		}
	}

	.native-input.sc-ion-input-md:-webkit-autofill {
		background-color: transparent !important;
		box-shadow: 0 0 0 10px rgb(34 34 34) inset;
		height: 0;
	}
}
