<div class="d-md-flex" [ngClass]="{ 'justify-content-between': startButtons.length && endButtons.length }">
	<div class="start-actions" *ngIf="startButtons.length" [ngClass]="{ 'flex-fill': startButtons.length === 1 }">
		<ng-container *ngFor="let action of startButtons!; let isLast = last">
			<button
				*ngIf="action?.visible"
				mat-raised-button
				[color]="action?.color"
				class="mb-2 {{ action?.class }}"
				[ngClass]="{
					'split-button-left': action?.options && !isDrawerMode,
					'me-3': (!action?.options && !isLast) || (isDrawerMode && !isLast)
				}"
				[disabled]="action?.disabled || action?.isWaiting"
				(click)="onActionSubmit(action?.text)"
			>
				{{ action?.text }}
				<mat-icon
					*ngIf="action?.isWaiting"
					class="position-absolute d-inline-block top-0 bottom-0 end-1 m-auto"
					style="width: 14px; height: 14px"
				>
					<mat-spinner color="accent" diameter="14"> </mat-spinner>
				</mat-icon>
			</button>
			<button
				*ngIf="action.options && !isDrawerMode && action?.visible"
				mat-raised-button
				[color]="action?.color"
				[ngClass]="action?.class"
				[disabled]="action?.disabled"
				[matMenuTriggerFor]="menu"
			>
				<mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
			</button>

			<mat-menu #menu="matMenu" xPosition="before">
				<button *ngFor="let option of action?.options" mat-menu-item (click)="onActionSubmit(option?.text)">{{ option?.text }}</button>
			</mat-menu>
		</ng-container>
	</div>
	<div class="end-actions" *ngIf="endButtons.length">
		<ng-container *ngFor="let action of endButtons!; let isLast = last">
			<button
				*ngIf="action?.visible"
				mat-raised-button
				[color]="action?.color"
				class="mb-2 {{ action?.class }}"
				[ngClass]="{ 'split-button-left': action?.options && !isDrawerMode, 'me-3': !action?.options && !isLast }"
				[disabled]="action?.disabled || action?.isWaiting"
				(click)="onActionSubmit(action?.text)"
			>
				{{ action?.text }}
				<mat-icon
					*ngIf="action?.isWaiting"
					class="position-absolute d-inline-block top-0 bottom-0 end-1 m-auto"
					style="width: 14px; height: 14px"
				>
					<mat-spinner color="accent" diameter="14"> </mat-spinner>
				</mat-icon>
			</button>
			<button
				*ngIf="action.options && !isDrawerMode && action?.visible"
				mat-raised-button
				[color]="action?.color"
				class="split-button-right mb-2 {{ action?.class }}"
				[ngClass]="{ 'me-3': !isLast }"
				[disabled]="action?.disabled"
				[matMenuTriggerFor]="menu"
			>
				<mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
			</button>

			<mat-menu #menu="matMenu" xPosition="before">
				<button *ngFor="let option of action?.options" mat-menu-item (click)="onActionSubmit(option?.text)">{{ option?.text }}</button>
			</mat-menu>
		</ng-container>
	</div>
</div>
