<ion-toolbar>
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>
		<div
			class="title"
			routerLink="/home">
			<ion-icon
				size="medium"
				name="folder"></ion-icon>
			<p>Pro CV</p>
		</div>
	</ion-title>
	<ion-buttons slot="end">
		<ion-chip *ngIf="user$ | async as user">
			<ion-avatar>
				<img
					alt="Profile pic"
					[src]="user.photoURL" />
			</ion-avatar>
			<ion-label>{{getUserDisplay(user)}}</ion-label>
		</ion-chip>
	</ion-buttons>
</ion-toolbar>
