.profile-action {
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		width: 40px;
		height: 40px;

		::ng-deep .mdc-button__label {
			height: 100%;
		}
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 50%;
		min-width: 40px;
		transition: all 100ms;

		&:hover {
			opacity: 0.7;
		}
	}
}
