ion-title {
	padding-inline: 15px;

	@media (width <= 576px) {
		padding: 0;
	}

	.title {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 0.7rem;
		cursor: pointer;

		p {
			margin: 0;
			margin-top: 3px;
		}
	}
}

#profile-menu {
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-start: 0;
	--padding-end: 0;

	ion-chip {
		--background: none;
		pointer-events: none;

		ion-avatar {
			width: 32px;
			height: 32px;
		}
	}
}
